@import "@fontsource/inter/400.css";
@import "@fontsource/inter/500.css";
@import "@fontsource/inter/700.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
  text-align: center;
  ;
}




/* Inter Font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

/* The-Bold-Font */
@font-face {
  font-family: 'The Bold Font';
  src: url('/fonts/Inter/THE-BOLD-FONT.otf') format('opentype'); 
  font-weight: bold; 
  font-style: normal;
}
.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 200px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}
